<%- include('../includes/navigation.ejs') %>
<section class="main">
  <div class="main-content tabcontent" id="account">
    <div class="pd-1">
      <div class="container">
        <h2 class="title-h2">Account Setting</h2>
        <hr />
        <form class="account-setting" action="/user/password/<%= user.id %>?_method=PUT" method="POST">
          <div class="account-setting__form">
            <h3>Account Info</h3>

          </div>
          <div class="account-setting__form">
            <h3>Change Password</h3>
            <div class="form-container block">
              <div>
                <label for="newpassword" class="account-setting__label label">New Password: </label>
                <input type="password" class="account-setting__input" placeholder="New Password" name="password" />
              </div>
              <div>
                <label for="confirmpassword" class="account-setting__label label">Confirm Password: </label>
                <input type="password" class="account-setting__input" placeholder="Confirm Password"
                  name="confirmPassword" />
              </div>
              <div class="change">
                <a  class="save__btn" style="background-color: crimson;" href="/user/<%= user.id %>">Cancel</a>
                <button type="submit" class="change__btn">Change</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include('../includes/bottom.ejs') %>